@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background: #E8EBFF;
	font-size: 2em;
	font-family: 'Open Sans';
}

img {
	max-width: 100%;
	max-height: 100%;
}

section div {
	margin-bottom: 2em;
}
